* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC';
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

:root {
  --color-text-primary: #303133;
  --color-text-regular: #606266;
  --color-text-secondary: #909399;
  --color-primary: #1F4767;
  --color-primary-secondary: #839db3;
  --color-menu-unselected: #a7a7a7;
  --color-menu-selected: #e7e7e7;
  font-size: 16px;

}